<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <title>Sarcasm Detection</title>
  </head>
  <body>
    <div class="container px-4 py-5 mx-auto">
      <div class="card card0">
          <div class="d-flex flex-lg-row flex-column-reverse">
              <div class="card card1">
                  <div class="row justify-content-center my-auto">
                      <div class="col-md-8 col-10 my-5">
                          <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.imgur.com/CgNq358.jpeg"> </div>
                          <h3 class="mb-5 text-center heading">Sarcasm Detection</h3>
                          <h6 class="msg-info">Text Entered:<br>{{text}}</h6>
                          <h6 class="msg-info">Prediction:<br>{{prediction}}</h6>
                          <h6 class="msg-info">Final Status:<br>{{ans}}</h6>
                      </div>
                  </div>
                  <div class="bottom text-center mb-4">
                      <p href="#" class="sm-text mx-auto mb-3">Don't have a funny Headline?</p>
                  </div>
              </div>
              <div class="card card2">
                  <div class="my-auto mx-md-5 px-md-5 right">
                      <h3 class="text-white">What is a Sarcasm Detector</h3> <small class="text-white">Electronic journalism powered with Social media has become one of the major sources of information consumption lately. Many media houses are using creative ways in order to tap into increasing views on posts. One of the ways is using sarcastic headlines as click baits. A model that is able to predict whether a piece of headline is sarcastic or not can be useful for media houses in order to analyse their quarterly earnings by strategy. Also, from a reader's perspective, search engines can utilise this information of sarcasm and depending on the reader’s preference, recommend similar articles to them.
The goal is to build a model to detect whether a sentence is sarcastic or not, using Bidirectional LSTMs.</small>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>